*:focus:not(.focus-visible) {
  outline: none;
}

.user-panel {
  display: none;
}

.transactions-panel {
  display: none;
}

.accounts-panel {
  display: none;
}

.categories-panel {
  display: none;
}

.menu-item_logout {
  display: none;
}

.app_user-logged .user-panel,
.app_user-logged .transactions-panel,
.app_user-logged .accounts-panel,
.app_user-logged .categories-panel,
.app_user-logged .menu-item_logout {
  display: block;
}

.app_user-logged .menu-item_login,
.app_user-logged .menu-item_register {
  display: none;
}

.create-account, .logout_btn {
  display: flex;
  cursor: pointer;
  background-color: #fbfbfb;
  color: #0c5597;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  width: 110px;
}

.transaction {
  border-bottom: 1px solid lightgray;
}

.transaction__icon {
  width: 50px;
  height: 70px;
  line-height: 70px;
}

.transaction__icon .fa {
  color: #fff;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 50%;
}

.transaction_income .transaction__title {
  color: #0c5597;
}

.transaction_expense .transaction__title {
  color: #ca0000;
}

.transaction_income .transaction__icon .fa {
  background: #0c5597;
}

.transaction_expense .transaction__icon .fa {
  background: #ca0000;
}

.transaction__summ {
  font-size: 20px;
  line-height: 70px;
}

.transaction__details {
  display: flex;
}

.transaction__controls {
  line-height: 70px;
}

.error {
  font-size: 14px;
  color: #ca0000;
}

.main-header {
  background: #0c5597;
}

.modal-title {
  color: #0c5597;
}

.create-income-button:hover {
  font-weight: bold;
}

.create-expense-button:hover {
  font-weight: bold;
}

.create-income-button, .create-expense-button {
  background:#fbfbfb;
  color: #0c5597 !important;
}
.blue_btn {
  background: #0c5597;
  color: #fbfbfb;
  border-color: #fbfbfb !important;
}

.blue_btn:hover {
  background:#fbfbfb;
  color: #0c5597 !important;
  border-color: #0c5597 !important;
}

.red_btn {
  background: #ca0000;
  color: #fbfbfb;
  border-color: #fbfbfb !important;
}

.red_btn:hover {
  background: #fbfbfb;
  color: #ca0000;
  border-color: #ca0000 !important;
}

.hidden {
  overflow: hidden;
}

.white_butn {
  background-color: #fbfbfb;
  color: #0c5597;
  border-color: #0c5597;
}

.white_butn:hover {
  background-color: #0c5597;
  color: #fbfbfb;
  border-color: #fbfbfb;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
  border-bottom: white 1px solid;
  cursor: default;
}

.header:hover {
  font-weight: normal !important;
}

.my_sidebar-menu {
  display: none;
  white-space: nowrap;
    overflow: hidden;
    list-style: none;
    padding: 0;
    display: flex;
    margin: 15px;
    justify-content: space-evenly;
}

.my_sidebar-menu > li:hover {
  background-color: #0c5597 !important;
  font-weight: bold;
}

.menu-item_logout {
  margin-right: auto;
}

.accounts-panel > li {
  margin-bottom: 10px;
}

.active {
  font-weight: bold;
}